# Introduction

## Final Project Submission

***
- Student Name: Adam Marianacci
- Student Pace: Flex
- Scheduled project review date/time: TBD
- Instructor Name: Morgan Jones

# Business Understanding

Coldwell Banker wants to increase the value of their clients homes that they are trying to sell by advising homeowners on what types of renovations they should be doing. Exploring Housing Sales datasets will enable me to properly advise Coldwell Banker on what types of renovations will increase the value of homes the most.

# Data Understanding

This project uses the King County House Sales dataset. It contains over 30,000 entries of data related to the sale price of houses, number of bedrooms and bathrooms, square footage and overall condition ratings of these houses, and more. This dataset is suitable for the project because it contains information about various specifications and amenities within different homes and how much these homes are selling for.

# Data Preperation

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
kc_house_data_df = pd.read_csv('data/kc_house_data.csv', index_col=0)

There are 24 columns and 30155 entries. There does not appear to be any missing data at first glance. The data types consist of objects, integers, and floats.

In [3]:
kc_house_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30155 entries, 7399300360 to 9557800100
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           30155 non-null  object
 1   price          30155 non-null  float64
 2   bedrooms       30155 non-null  int64
 3   bathrooms      30155 non-null  float64
 4   sqft_living    30155 non-null  int64
 5   sqft_lot       30155 non-null  int64
 6   floors         30155 non-null  float64
 7   waterfront     30155 non-null  object
 8   greenbelt      30155 non-null  object
 9   nuisance       30155 non-null  object
 10  view           30155 non-null  object
 11  condition      30155 non-null  object
 12  grade          30155 non-null  object
 13  heat_source    30123 non-null  object
 14  sewer_system   30141 non-null  object
 15  sqft_above     30155 non-null  int64
 16  sqft_basement  30155 non-null  int64
 17  sqft_garage    30155 non-null  int64
 18  sqft_patio     30155 non-null  int64
 19  yr_built       30155 non-null  int64
 20  yr_renovated   30155 non-null  int64
 21  address        30155 non-null  object
 22  lat            30155 non-null  float64
 23  long           30155 non-null  float64
dtypes: float64(5), int64(9), object(10)
memory usage: 5.8+ MB

"Lat", "Long", "Address", "Date" and "View" did not seem relevant since I am looking into what renovations in homes should be done. I dropped them from the dataframe to simplify and condense the df.

In [4]:
kc_house_data_df.drop(['lat', 'long', 'address', 'date', 'view'], axis=1, inplace=True)

In [5]:
kc_house_data_df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,nuisance,condition,grade,heat_source,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated
id,,,,,,,,,,,,,,,,,,,
7399300360,675000.0,4,1.0,1180,7140,1.0,NO,NO,NO,Good,7 Average,Gas,PUBLIC,1180,0,0,40,1969,0
8910500230,920000.0,5,2.5,2770,6703,1.0,NO,NO,YES,Average,7 Average,Oil,PUBLIC,1570,1570,0,240,1950,0
1180000275,311000.0,6,2.0,2880,6156,1.0,NO,NO,NO,Average,7 Average,Gas,PUBLIC,1580,1580,0,0,1956,0
1604601802,775000.0,3,3.0,2160,1400,2.0,NO,NO,NO,Average,9 Better,Gas,PUBLIC,1090,1070,200,270,2010,0
8562780790,592500.0,2,2.0,1120,758,2.0,NO,NO,YES,Average,7 Average,Electricity,PUBLIC,1120,550,550,30,2012,0

In [6]:
kc_house_data_df.isnull().sum()

price             0
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront        0
greenbelt         0
nuisance          0
condition         0
grade             0
heat_source      32
sewer_system     14
sqft_above        0
sqft_basement     0
sqft_garage       0
sqft_patio        0
yr_built          0
yr_renovated      0
dtype: int64

In [7]:
kc_house_data_df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated
count,3.015500e+04,30155.000000,30155.000000,30155.000000,3.015500e+04,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000
mean,1.108536e+06,3.413530,2.334737,2112.424739,1.672360e+04,1.543492,1809.826098,476.039396,330.211142,217.412038,1975.163953,90.922301
std,8.963857e+05,0.981612,0.889556,974.044318,6.038260e+04,0.567717,878.306131,579.631302,285.770536,245.302792,32.067362,416.473038
min,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000
25%,6.480000e+05,3.000000,2.000000,1420.000000,4.850000e+03,1.000000,1180.000000,0.000000,0.000000,40.000000,1953.000000,0.000000
50%,8.600000e+05,3.000000,2.500000,1920.000000,7.480000e+03,1.500000,1560.000000,0.000000,400.000000,150.000000,1977.000000,0.000000
75%,1.300000e+06,4.000000,3.000000,2619.500000,1.057900e+04,2.000000,2270.000000,940.000000,510.000000,320.000000,2003.000000,0.000000
max,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000

# Data Analysis

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

# Modeling

In [9]:
import statsmodels.api as sm